{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "jquery": true
    },
    "globals": {
        "Foundation": true
    },
    "plugins": [
        "promise",
        "prettier"
    ],
    "extends": [
        "airbnb-base",
        "plugin:promise/recommended",
        "prettier"
    ],
    "rules": {
        "no-shadow": "off",
        "no-underscore-dangle": "off",
        "prettier/prettier": "error"
    }
}
