{
    "extends": [
        "stylelint-config-prettier"
    ],
    "plugins": [
        "stylelint-no-unsupported-browser-features",
        "stylelint-order",
        "stylelint-selector-bem-pattern",
        "stylelint-scss"
    ],
    "rules": {
        "max-nesting-depth": 4
    }
}
