
                                    <nav class="top-bar contain-to-grid hide-for-small" data-topbar>
                                        <ul class="title-area">
                                            <li class="name"></li>
                                            <li class="toggle-topbar menu-icon">
                                                <a href="#">
                                                    <span>Menu</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <section class="top-bar-section right">	
                                            <ul class="menu left">
                                                <li class="item1 level0 active current first">
                                                    <a href="/" class="item1 level0" title="Homepage"><span>Homepage</span></a>        
                                                </li>
                                                <li class="item2 level0">
                                                    <a href="/list" class="item2 level0" title="List"><span>List</span></a>        
                                                </li>
                                                <li class="item8 level0 last">
                                                    <a href="/contact" class="item8 level0" title="Contact Us"><span>Contact Us</span></a>        
                                                </li>
                                            </ul>
                                        </section>
                                    </nav>
                                    <nav class="tab-bar contain-to-grid show-for-small">
                                        <a class="right-off-canvas-toggle menu-icon">
                                            <span>Menu</span>
                                        </a>
                                    </nav>