                        <!-- Off Canvas Menu -->
                        <aside class="right-off-canvas-menu">
                            <ul class="off-canvas-list">
                                <li><label>Menu</label></li>
                                <li class="item1 level0 active current first">
                                    <a href="/" class="item1 level0" title="Homepage"><span>Homepage</span></a>        
                                </li>
                                <li class="item2 level0">
                                    <a href="/list" class="item2 level0" title="list"><span>list</span></a>        
                                </li>
                                <li class="item8 level0 last">
                                    <a href="/contact" class="item8 level0" title="Contact Us"><span>Contact Us</span></a>        
                                </li>
                            </ul>
                        </aside>