---
layout: default.hbs
title: Static HTML With Foundation 6
siteURL: http://www.domainname.com
pageURL: /sample3.html
siteName: Domain

meta_description:
meta_keywords:
fb_description:
twitter_description:
twitter_user: Domain
---
                        <div class="row">
                            <div class="large-12 columns">
                                <h1>Sample</h1>
                            </div>
                        </div>
