---
layout: default.hbs
title: Static HTML With Foundation 6
siteURL: http://www.domainname.com
pageURL: /sitemap.html
siteName: Domain

meta_description:
meta_keywords:
fb_description:
twitter_description:
twitter_user: Domain
---
                        <div class="row">
                            <div class="large-12 columns">
                                <h1>Sitemap</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-12 columns">
                                <ul class="vertical menu">
                                    <li>
                                        <a href="/index.html">Home</a>
                                    </li>
                                    <li>
                                        <a href="#">Sample page 1</a>
                                        <ul class="nested vertical menu">
                                            <li><a href="#">Sample page 2</a></li>
                                            <li><a href="#">Sample page 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/styleguide.html">Styleguide</a></li>
                                    <li><a href="/tnc.html">Terms & Conditions</a></li>
                                </ul>
                            </div>
                        </div>
