{{> html_start }}

    <body>
        <div class="super-wrapper">
            <div id="wrapper" class="wrapper">

                <div class="off-canvas-wrapper">
                    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

                        <div class="off-canvas-content" data-off-canvas-content>

                            <!-- Add your site or application content here -->
                            {{> masthead }}

                            {{> body }}

                            {{> footer }}

                        </div>

                        {{> off_canvas_nav }}

                    </div>
                </div>

            </div>
        </div>

{{> html_end }}
