{{> html_start }}

    <body>
        <!-- Add your site or application content here -->
        <div class="superWrapper">
            <div class="wrapper">
                <div class="off-canvas-wrap" data-offcanvas="">
                    <div class="inner-wrap">

                    {{> masthead }}
                
                    {{> body }}

                    {{> footer }}
                    
                    <a href="#" class="exit-off-canvas"></a>
                </div>  
            </div>
        </div>  
    </div>

{{> html_end }}
