<!--  ====================  -->
<!--  === Cookie popup ===  -->
<!--  ====================  -->
<div id="cookie-acceptance" class="callout secondary is-hidden" data-closable>
    <p>
        <small>
            We use cookies to personalise content and ads, to provide social media features and to analyse our
            traffic. We also share information about your use of our site with our social media, advertising and
            analytics partners who may combine it with other information you’ve provided to them or they’ve collected
            from your use of their services. <a href="/tnc#cookies" title="See details">See details</a>
        </small>
    </p>
    <button class="btn button accept accept-button" aria-label="Accept" title="Accept" type="button" data-close>
        <span aria-hidden="true">Accept</span>
    </button>
    <button class="close close-button" aria-label="Dismiss" title="Dismiss" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
</div>
