<!--  ==============  -->
<!--  === Header ===  -->
<!--  ==============  -->
<div class="row expanded header-sticky-container" data-sticky-container>
    <div class="header-wrapper row column is-anchored" data-options="marginTop:0;" data-sticky="" data-stick-to="top"
         data-sticky-on="small" data-check-every="25">
        <header class="header row contain-to-grid">

            {{> cookie_popup }}

            <div id="logo" class="columns small-3 large-3">
                <h1 class="logo">
                    <a href="/" title="{{ @root.siteName }}">
                        <img src="/images/site_assets/siteLogo.png" alt="{{ @root.siteName }}"/>
                        <span class="inv">{{ @root.title }}</span>
                    </a>
                </h1>
            </div>

            <div class="columns small-12 large-9">
                {{> nav }}
            </div>

        </header>
    </div>
</div>
