{
    "parser": "babel-eslint",
    "env": {
        "jest/globals": true
    },
    "plugins": [
        "promise",
        "jest"
    ],
    "extends": [
        "plugin:promise/recommended"
    ]
}
