.docs-toc {
    padding-bottom: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
    border-bottom: 1px solid #cacaca;
    font-size: 1rem;
    max-height: 100vh;
    padding-bottom: 100px;
    overflow-y: auto;
}

.docs-toc.is-stuck {
    width: 100%;
}

@media print, screen and (min-width: 64em) {
    .docs-toc {
        display: block !important;
        border-bottom: 0;
    }
}

.docs-toc .menu > li > a {
    line-height: 1.5;
    padding: 0.45rem 1rem;
    font-size: 0.85rem;
}

.docs-toc .is-active {
    background: #000000;
    color: white;
}

.docs-toc .menu .docs-nav-title {
    margin-top: 1rem;
    border-top: 0;
    padding-top: 0;
}

.docs-toc-divider {
    border-bottom: 1px dashed #c3c3c3;
}

.docs-toc-divider.small {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.docs-toc-wrap.fixed {
    position: fixed;
}
